<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Blog</title>
  <link rel="stylesheet" href="/estilo.css">
</head>
<body>
  <button onclick="window.location.href='/cadastrar'">Cria Post</button>
  <div>
    <% if (posts.length === 0) { %>
      <p>Nenhum post cadastrado.</p>
    <% } else { %>
      <% posts.forEach(post => { %>
        <div class="post">
          <h2><%= post.titulo %></h2>
          <h4><%= post.resumo %></h4>
          <p><%= post.conteudo %></p>
        </div>
      <% }) %>
    <% } %>
  </div>
</body>
</html>
