#C,
#java {
    height: 100px;
    width: 100px;
}

#java {
    position: absolute;
    right: 10px;
    top: 10px;

}

#C {
    position: absolute;
    left: 10px;
    top: 10px;
    margin-bottom: 10px;

}

#header {
    background-color: bisque;
    display: flex;
    justify-content: space-around;
    border: solid blue;
    height: 125px;
}

#links {
    background-color: lightskyblue;
    color: darkred;
    display: flex;
    justify-content: space-around;
    word-spacing: 10px;
    text-align: center;
    padding: 10px;
    padding-left: 300px;
    padding-right: 300px;
    align-items: center;


}

body {
    background-color: lightgray;
}

#head {
    color: darkgreen;
}

h2 {
    text-align: center;
}

.p_1 {
    text-align: center;
    color: indigo;
    font-size: 20pt;
    font-family: sans-serif;
}

.livros {
    position: relative;
    text-align: center;
    word-spacing: 50px;

}

#livro_1,
#livro_2,
#livro_3 {
    height: 300px;
    width: 200px;
}

.rodape {
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    border: solid;
    height: 125px;
}

#html,
#css {
    height: 100px;
    width: 80px;
}



#texto_rodape {
    text-align: center;
    font-size: 15pt;
    font-family: sans-serif;
}

.iframes_div {
    justify-content: space-around;
    text-align: center;
}



table {
    border: dashed 4px red;
    margin: auto;
}

th {
    border: 1px solid red;
}

tr {
    border: 1px solid red;
}

#tr1 {
    color: red;
}

.sites {
    background-color: yellow;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-left: 650px;
    width: 600px;
    height: 100px;

}

iframe {
    width: 450px;
    height: 450px;
}

h3 {
    text-align: left;
}

a{
    color: darkred ;
}