<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link href="estilos.css" rel="stylesheet">
</head>

<body>
    <h1>Resposta:
        <p>Mensagem do servidor: <%=mensagem %>
        </p>
        <p>Usuário: <%=usuario %>
        </p>
        <p>Email: <%=login%>
        </p>
    </h1>
</body>

</html>